:root {
	--highlight: #e62563;
	--darkgrey: #333;
	--grey: #555;
	--lightgrey: lightgrey;
}

/* Layout styles */
html, body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
body {
	background-color: var(--lightgrey);
}
#main {
	background-color: white;
	padding: 2rem 4rem;
	max-width: 900px;
	margin: auto;
	/*box-shadow: 0 0 20px 0 #AAA;*/
}
div {
	/* outline: 1px dotted black; */
	word-wrap: wrap;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.column-sm {
	flex: 30%;
}
.column-lg {
	flex: 70%;
}

/* Text styles */
p {
	margin-top: 4px;
}
h1 {
	display: inline-block;
	margin-top: 2rem;
	margin-bottom: 6px;
	padding-right: 1em;
	font-weight: lighter;
	font-size: 32px;
	line-height: 1em;
	text-transform: uppercase;
	color: var(--highlight);
}
h2 {
	margin: 0;
	font-weight: normal;
	font-size: 18px;
	color: var(--darkgrey);
}

a, a:hover {
	color: var(--highlight);
}
.name {
	font-size: 60px;
	font-weight: bold;
	line-height: 1em;
	color: var(--grey);
}
.name-dark {
	color: var(--darkgrey);
}
.contact {
	margin-bottom: 0.8rem;
}
.contact > div {
	display: inline-block;
}
.contact > div:not(:last-child) {
	margin-right: 2rem;
}
.date {
	color: var(--highlight);
}
.date + .location {
	margin-left: 0.5rem;
}
.date, .location {
	font-size: 12px;
	margin-bottom: 2px;
}
.description {
	margin-top: 0.2em;
	margin-bottom: 0;
	color: var(--grey);
	line-height: 1.2em;
}
.detail {
	font-size: 9px;
}
#hobbies > ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.fa-external-link-alt {
	font-size: 0.8em;
	position: relative;
	top: -0.1em;
}
.footer {
	margin-top: 2rem;
}

/* Layout formatting */

td {
	vertical-align: top;
}
th {
	color: var(--darkgrey);
	font-size: 16px;
	padding: 0.5em;
	font-weight: lighter;
	text-align: center;
}
table ul {
	margin-top: 0.3em;
	line-height: 1.2em;
}
ul {
	margin: 0;
	padding-left: 0.5em;
	list-style-position: inside;
}
li {
	margin-bottom: 4px;
	color: var(--grey);
}
.event + .event {
	padding-top: 12px;
}
.timeline>.event + .event {
	padding-top: 0;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	margin: 0;
}

/* The actual timeline (the vertical ruler) */
.event-timeline {
	padding-bottom: 12px;
	border-left: 2px dashed var(--highlight);
}
.event-timeline:last-of-type {
	padding-bottom: 0;
	border-left: 2px dashed transparent;
}

/* Container around content */
.event-timeline {
	padding-left: 24px;
	margin-left: 11px;
}

/* The circles on the timeline */
.event-timeline::before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: 0;
	background-color: white;
	border: 2px solid var(--highlight);
	border-radius: 50%;
	transform: translateY(-2px);
}

/* For printing */

section {
	page-break-inside: avoid;
	-webkit-region-break-inside: avoid;
}

@page {
	size: A4;
	margin: 0.75in;
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;
		-webkit-print-color-adjust: exact;
	}
	
	#main {
		padding: 0;
	}
	
	a {
		display: none;
	}
	
	section {
		page-break-inside: avoid;
	}
	
	#education {
		page-break-before: always;
	}
}