#map {
	height: 480px;
}

#mapbutton {
	float: right;
	color: var(--highlight);
	border-radius: 999px;
	padding: 0 6px;
}

#mapbutton:hover {
	background-color: #CCC;
}

@media print {
	#mapbutton {
		display: none;
	}
}