#map {
	height: 480px;
}

#mapbutton {
	color: var(--highlight);
	border-radius: 4px;
	padding: 0 6px;
	cursor: pointer;
}

/* Solves sticky hover problem on mobile */
@media (hover: hover) {
	#mapbutton:hover {
		background-color: #CCC;
	}
}

@media print {
	#mapbutton {
		display: none;
	}
}