.event-more {
	display: none;
	overflow: hidden;
}

.event-more-active {
	display: block;
	animation: fadein 0.5s linear;
}

@keyframes fadein {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

.show-more {
	display: inline-block;
	color: var(--highlight);
	font-size: 16px;
	border-radius: 4px;
	padding: 0.2em 0.5em;
	cursor: pointer;
	margin-top: 0.2em;
	transform: translateX(-0.5em);
	cursor: pointer;
}

/* Solves sticky hover problem on mobile */
@media (hover: hover) {
	.show-more:hover {
		background-color: #CCC;
	}
}

.show-more::after {
  display: inline-block;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="8" version="1.1"><polygon fill="%23E62563" points="0,0 2,0, 8,6, 14,0 16,0 8,8 0,0"/></svg>');
  transform: translateY(-2px);
}

.show-more-active::after {
  transform: rotate(180deg);
}

/* specify print formatting */
@media print {
	.show-more {
		display: none;
	}
	
	.event-more {
		display: block;
		max-height: 999px;
	}
}