[title] {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--grey);
	cursor: pointer;
}

.tooltip {
	font-family: inherit;
	font-size: inherit;
}

.tooltip-inner {
	text-align: left;
}

@media print {
	[title] {
		text-decoration: none;
	}
}